mkdocs
mkdocs-material
mkdocs-table-reader-plugin
pymdown-extensions
mkdocs-git-revision-date-localized-plugin
zipp>=3.19.1 # não é diretamente necessário, fixado por snyk para evitar uma vulnerabilidade
urllib3>=2.2.2 # não é diretamente necessário, fixado por snyk para evitar uma vulnerabilidade
requests>=2.32.4 # não é diretamente necessário, fixado por snyk para evitar uma vulnerabilidade